<div class="contents row">
  <% @questions.each do |question| %>
    <p><%= question.text %></p>
    <video src="<%= rails_blob_path(question.video) %>" width="960" height="720" controls></video>
  <% end %>
</div>