<div class="contents row">
  <% @questions.each do |question| %>
    <p>投稿者：<%= question.user.nickname %></p>
    <p><%= question.text %></p>
    <p><%=link_to '上の詳細', question_path(question.id) %></p>
  <% end %>
</div>