<div class="contents row">
  <p>投稿者：<%= @question.user.nickname %></p>
  <p><%= @question.text %></p>
  <video src="<%= rails_blob_path(@question.video) %>" width="960" height="720" controls></video>
</div>